@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* --------------header-------------- */
header {
    height: auto;
}

header .logo {
    float: left;
    margin: 1.2rem 4rem;
    height: 4.5rem;
    width: auto;
}

/* -------------navigation bar------------ */
.navbar {
    padding: 1.5rem 0rem;
    margin: 2rem 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
}

.navbar ul li {
    color: #4b4f58;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
}

.navbar ul li:hover {
    color: #2f9ee2;
    transition: 0.2s linear;
}

.navbar ul .btn1 {
    padding: 0.9rem 0.9rem;
    background: transparent;
    color: #2f9ee2;
    border: 2px solid #2f9ee2;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar ul .btn1:hover {
    background-color: #4b7bec;
    color: white;
    transition: 0.3s ease-in;
}

.navbar ul .btn1 .fa-shopping-bag {
    padding: 2px 8px;
}

/* -----------main About-------------- */
.about {
    margin: 15rem 0rem 10rem 5rem;
    font-family: "Poppins", sans-serif;
}

.about .up {
    font-size: 14rem;
    color: #0000000d;
}

.about .down {
    font-size: 6rem;
    position: relative;
    bottom: 6rem;
    color: #3a3a3a;
}

/* -----------Image About-------------- */

.image .about_bg {
    background-image:
        url(../images/about\ bg3.jpg);
    background-attachment: scroll;
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.image .overlay_text {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    padding: 5rem;
    text-align: left;
}

.image .overlay_text .help {
    font-size: 6rem;
    font-family: "Poppins", sans-serif;
}

.image .overlay_text .since {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
}


/* -- ------------section of Research Design Concept text----------- */
.four {
    margin: 10rem 5%;
}

.containers {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.container1,
.container2,
.container3,
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: max-content;
    margin: 0rem 2rem;
}

.four .containers h1 {
    font-size: 12rem;
    color: rgba(29, 53, 58, 0.1);
    font-family: "Poppins", sans-serif;
}

.four .containers h2 {
    font-size: 3.2rem;
    font-family: "Poppins", sans-serif;
    color: #3a3a3a;
    position: relative;
    bottom: 40%;
    z-index: 2;
}

.four .containers h3 {
    color: #4b4f58;
    font-family: "Work Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
}

/* ----------------History section------------------ */
.history .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 2rem 5rem;

}

.history .text .first {
    font-size: 3rem;
    color: #3a3a3a;
}


.history .text .heading {
    font-size: 6rem;
    color: #3a3a3a;
}

.history .text .para {
    font-family: "Work Sans", sans-serif;
    font-size: large;
    line-height: 1.5;
    padding: 3rem 8rem;
    color: #4b4f58;
}

/* ----------------Grid layout section------------------ */
.title {
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 5%;
}

.title .all {
    width: inherit;
    height: 65vh;
    background-position: bottom center;
    background-size: cover;
}

.title .speed {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.9) 100%),
        url(../images/grid\ 2.jpg);
}

.title .quality {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.9) 100%),
        url(../images/layout2.jpg);
}

.title .comfort {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.9) 100%),
        url(../images/grid\ 3.jpg);
}

.title .bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    height: 65vh;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    letter-spacing: -3px;
    font-size: 4rem;
    padding-bottom: 3.5rem;
}

.hurry {
    margin-top: 5%;
}

/* ----------------footer---------------- */
footer .site-primary-footer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

footer .Connect {
    font-size: 1.6rem;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
}

footer .Connection .bolder {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    line-height: 3;
}

footer .Follow .right_first button {
    border: 2px solid black;
    border-radius: 50%;
    border: none;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    background-color: #C2C2C273;
    cursor: pointer;
}

footer .Follow .right_first .social1:hover {
    color: #4267B2;
}

footer .Follow .right_first .social2:hover {
    color: #1DA1F2;
}

footer .Follow .right_first .social3:hover {
    color: #C13584;
}

footer .Follow .right_first .social4:hover {
    color: #FF0000;
}

footer .Follow .right_first .social5:hover {
    color: #0077b5;
}

footer .site-secondary-footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

footer .site-secondary-footer .down,
.powered {
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    padding: 0rem 6rem;
}

footer .site-secondary-footer .down .credit {
    text-decoration: none;
    color: #2f9ee2;
}